@model MonthPerformanceModel

@functions{
    string WeekClass(WeekPerformanceModel m)
    {
        string footerClass = String.Empty;

        if (m.PnL < GlobalSettings.ActiveRiskParameters.WeeklyStop)
        {
            footerClass = " table-danger";
        }
        else if (m.PnL > GlobalSettings.ActiveRiskParameters.TpaWeeklyTarget)
        {
            footerClass = " table-success";
        }

        return footerClass;
    }

    string FooterClass(MonthPerformanceModel m)
    {
        string footerClass = String.Empty;

        if (m.PnL < GlobalSettings.ActiveRiskParameters.MonthlyStop)
        {
            footerClass = " table-danger";
        }
        else if (m.PnL > GlobalSettings.ActiveRiskParameters.TpaMonthlyTarget)
        {
            footerClass = " table-success";
        }

        return footerClass;
    }
}

@helper PerformanceBar(String label, Decimal min, Decimal max, Decimal val)
{
Decimal adjustedVal = val;
if (val < min)
{
    adjustedVal = min;
}
else if (val > max)
{
    adjustedVal = max;
}

Decimal width = (adjustedVal < 0 ? adjustedVal / min : adjustedVal / max) * 100;

    <div class="row pb-2">
        <div class="col-2">
            <strong>@label</strong>
        </div>
        <div class="col-1 text-right">
            <small>@(0.ToString("C0"))</small> 
        </div>
        <div class="col-7 px-0">
            <div class="progress" style="height: 30px;">
                <div class="@String.Format("progress-bar bg-{0}", val < 0 ? "danger" : "success")" role="progressbar" aria-valuenow="@adjustedVal"
                     aria-valuemin="@min" aria-valuemax="@max" style="width: @width%;">
                    <strong>@val.ToString("C2")</strong>
                </div>
            </div>
        </div>
        <div class="col-2">
            <small>@(adjustedVal < 0 ? min.ToString("C2") : max.ToString("C2"))</small>
        </div>
    </div>
}

<div class="row">
    <div class="col-12">
        <div class="card mb-3">
            <div class="card-header text-white bg-info">Month of @Model.Date.ToShortDateString() - @Model.Date.AddDays(25).ToShortDateString()</div>
            <div class="card-body p-3">
                <div class="row">
                    <div class="col-6">
                        <table class="table table-sm table-bordered">
                            <thead>
                                <tr class="table-secondary">
                                    <th scope="col">Date</th>
                                    <th scope="col">Wins</th>
                                    <th scope="col">Losses</th>
                                    <th scope="col">Trades</th>
                                    <th scope="col">Win Ptg</th>
                                    <th scope="col">PnL</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (WeekPerformanceModel weekModel in Model.Weeks)
                                {
                                    <tr class="@WeekClass(weekModel)">
                                        <td>@weekModel.Date.ToShortDateString()</td>
                                        <td>@weekModel.Wins</td>
                                        <td>@weekModel.Losses</td>
                                        <td>@weekModel.Trades</td>
                                        <td>@weekModel.WinPtg.ToString("P2")</td>
                                        <td>@weekModel.PnL.ToString("C2")</td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr class="@FooterClass(Model)" style="font-weight: bold;">
                                    <td></td>
                                    <td>@Model.Wins</td>
                                    <td>@Model.Losses</td>
                                    <td>@Model.Trades</td>
                                    <td>@Model.WinPtg.ToString("P2")</td>
                                    <td>@Model.PnL.ToString("C2")</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="col-6">
                        @if (Model.CurrentDayPerformanceModel != null)
                        {
                            @PerformanceBar("Day", GlobalSettings.ActiveRiskParameters.DailyStop, GlobalSettings.ActiveRiskParameters.TpaDailyTarget, Model.CurrentDayPerformanceModel.PnL)
                        }
                        @if (Model.CurrentWeekPerformanceModel != null)
                        {
                            @PerformanceBar("Week", GlobalSettings.ActiveRiskParameters.WeeklyStop, GlobalSettings.ActiveRiskParameters.TpaWeeklyTarget, Model.CurrentWeekPerformanceModel.PnL)
                        }
                        @PerformanceBar("Month", GlobalSettings.ActiveRiskParameters.MonthlyStop, GlobalSettings.ActiveRiskParameters.TpaMonthlyTarget, Model.PnL)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    @foreach (WeekPerformanceModel weekModel in Model.Weeks)
    {
        @Html.Partial("_WeekPerformance", weekModel)
    }
</div>
