@model WeeklyIncomeActionPlanDto

<table class="table table-bordered table-sm">
    <thead>
        <tr>
            <th colspan="6">
                Bull Put Spread
            </th>
            <th colspan="6">
                Bear Call Spread
            </th>
            <th colspan="2">
                Totals
            </th>
        </tr>
        <tr>
            <th>
                Sym
            </th>
            <th>
                Cur
            </th>
            <th>
                Sell
            </th>
            <th>
                Buy
            </th>
            <th>
                Qty
            </th>
            <th>
                Credit
            </th>
            <th>
                Sym
            </th>
            <th>
                Cur
            </th>
            <th>
                Sell
            </th>
            <th>
                Buy
            </th>
            <th>
                Qty
            </th>
            <th>
                Credit
            </th>
            <th>
                Credit
            </th>
            <th>
                Risk
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (PairCondorDto pairCondor in Model.Pairs.OrderByDescending(x => x.Credit))
        {
        <tr>
            <td>
                @pairCondor.BullPutSpread.Security.Symbol
            </td>
            <td>
                @pairCondor.BullPutSpread.Security.CurrentPrice.ToString("C")
            </td>
            <td>
                @pairCondor.BullPutSpread.SellStrike.ToString("C")
            </td>
            <td>
                @pairCondor.BullPutSpread.BuyStrike.ToString("C")
            </td>
            <td>
                @pairCondor.BullPutSpread.Quantity
            </td>
            <td>
                @pairCondor.BullPutSpread.Credit.ToString("C")
            </td>

            <td>
                @pairCondor.BearCallSpread.Security.Symbol
            </td>
            <td>
                @pairCondor.BearCallSpread.Security.CurrentPrice.ToString("C")
            </td>
            <td>
                @pairCondor.BearCallSpread.SellStrike.ToString("C")
            </td>
            <td>
                @pairCondor.BearCallSpread.BuyStrike.ToString("C")
            </td>
            <td>
                @pairCondor.BearCallSpread.Quantity
            </td>
            <td>
                @pairCondor.BearCallSpread.Credit.ToString("C")
            </td>
            <td>
                @pairCondor.Credit.ToString("C")
            </td>
            <td>
                @pairCondor.Risk.ToString("C")
            </td>
        </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
                @Model.Credit.ToString("C")
            </td>
            <td>
                @Model.Risk.ToString("C")
            </td>
        </tr>
    </tfoot>
</table>
