@model WeeklyIncomePlaySheetDto

@{
    ViewBag.tab = "WeeklyIncome";
}

<div class="row">
    <div class="col-12">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active"
                   id="overview-tab"
                   href="#overview"
                   data-toggle="tab"
                   role="tab">Overview</a>
            </li>

            @foreach (WeeklyIncomeActionPlanDto actionPlan in Model.ActionPlans.OrderByDescending(x => x.Credit))
            {
                <li class="nav-item">
                    <a class="nav-link"
                       id='@String.Format("{0}-tab", actionPlan.GenerationMethod)'
                       href='@String.Format("#{0}", actionPlan.GenerationMethod)'
                       data-toggle="tab"
                       role="tab">@actionPlan.GenerationMethod.GetStringValue()</a>
                </li>
            }
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active"
                 id="overview" role="tabpanel" style="padding-top: 10px;">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>
                                Generation Method
                            </th>
                            <th>
                                Credit
                            </th>
                            <th>
                                Risk
                            </th>
                            <th>
                                Capital Requirements
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (WeeklyIncomeActionPlanDto plan in Model.ActionPlans.OrderByDescending(x => x.Credit))
                        {
                        <tr>
                            <td>
                                @plan.GenerationMethod.GetStringValue()
                            </td>
                            <td>
                                @plan.Credit.ToString("C")
                            </td>
                            <td>
                                @plan.Risk.ToString("C")
                            </td>
                            <td>
                                @plan.RequiredCapital.ToString("C")
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>

            @foreach (WeeklyIncomeActionPlanDto actionPlan in Model.ActionPlans.OrderByDescending(x => x.Credit))
            {
                <div class="tab-pane fade"
                     id="@actionPlan.GenerationMethod" role="tabpanel" style="padding-top: 10px;">
                    @Html.Partial("_ActionPlanTable", actionPlan)
                </div>
            }
        </div>
    </div>
    @*<div class="col-4">
            <table class="table table-borderless table-sm">
                <tr>
                    <td class="font-weight-bold">Timestamp</td>
                    <td>@(String.Format("{0} {1}", Model.TimeStamp.ToShortDateString(), @Model.TimeStamp.ToShortTimeString()))</td>
                </tr>
                <tr>
                    <td class="font-weight-bold">Expiry</td>
                    <td>@Model.Expiry.ToShortDateString()</td>
                </tr>
                @foreach (WeeklyIncomeComboCountDto comboCount in Model.ComboCounts.OrderByDescending(x => x.Count))
                {
                    <tr>
                        <td class="font-weight-bold">@comboCount.SectorEnum.GetStringValue()</td>
                        <td>@comboCount.Count</td>
                    </tr>
                }
            </table>
        </div>*@
</div>
